@import url("https://assets.roomsthegame.com/css/base.css");

:root {
  --dark-game-color: #161729;
}

body {
  background-color: var(--dark-game-color);
  overflow: hidden;
}

main {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

main .right-containers {
  width: calc(30vw - 30px);
}

main .left-containers {
  width: calc(70vw - 30px);
}

main .left-containers,
main .right-containers {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}

.container.game-players {
  height: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.game-players > img.logo {
  height: 75px;
}

.game-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.primary-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.game-players .game-players-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.game-players-bottom .player-container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 100%;
  margin: 0 15px;
}

.player-container > .player-character {
  width: auto;
  height: 165px;
}

.player-container > .player-container-top {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  background-color: var(--light-color);
  padding: 2.5px;
  overflow: hidden;
  border: var(--light-color) 5px solid;
  width: 135px;
  margin-top: 20px;
}

.player-container-top .player-infos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5px;
  font-size: 0.7rem;
  color: var(--dark-color);
}

.manager-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 40px;
  margin-left: 25px;
}

.player-container-top .player-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.player-infos a {
  color: var(--dark-color);
  font-size: 0.8rem;
  font-weight: 600;
}

.player-container > .player-container-middle {
  height: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  margin: 40px 12.5px 20px;
}

.player-container-middle > a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.player-container-middle > a > img {
  width: 28px;
  height: 28px;
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: 10px;
  background-color: var(--secondary-color);
}

.game-chat {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table-cell;
  vertical-align: bottom;
  padding: 1rem;
  margin-bottom: 2.875rem;
  overflow: auto;
}

.chat::-webkit-scrollbar {
  display: none;
}

.chat ul li {
  position: relative;
  list-style: none;
  display: flex;
  margin-top: 1.5rem;
  margin: 1.7rem 0;
  transition: 0.5s all;
}

.chat ul li.li-you {
  justify-content: flex-end;
}

.msg {
  max-width: 85%;
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  font-size: 0.875rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

.msg span {
  font-weight: 500;
  position: absolute;
}

.msg span.username {
  color: var(--gray-color);
  font-size: 0.5rem;
  top: 0;
  font-size: 0.775rem;
  margin-top: -1rem;
}

.msg span.time {
  color: var(--gray-color);
  font-size: 0.6rem;
  bottom: -0.5rem;
}

.li-you .msg {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-bottom-right-radius: 0.125rem;
}

.li-you .msg span {
  right: 0;
}

.li-not-you .msg {
  background-color: var(--secondary-color-light);
  color: var(--light-color);
  border-bottom-left-radius: 0.125rem;
}

.li-not-you .msg span {
  left: 0;
}

.narrator {
  margin: 0.5rem !important;
  justify-content: center;
}

.narrator .msg {
  color: var(--light-color);
  font-style: italic;
}

.sendbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sendbox #carCount {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.7rem;
  color: var(--light-color);
}

.sendbox input {
  width: calc(100% - 35px);
  color: var(--light-color);
}

.game-plate {
  border: solid white 1px;
  background-color: var(--dark-game-color);
}

.game-plate .members-container {
  width: 100px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  top: calc(50% - 250px);
}

.game-plate .members-container .member-container {
  position: relative;
  margin-left: 2px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px;
  border-radius: 10px;
}

.game-plate .members-container .member-container img {
  position: absolute;
  bottom: 0;
  width: 55%;
}

.game-plate .plate-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-plate .plate-container .plate {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: var(--dark-game-color);
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .player-container > .player-container-top {
    width: 120px;
  }

  .player-container > .player-container-middle {
    margin: 30px 12.5px 20px;
  }

  .player-container > .player-character {
    width: auto;
    height: 110px;
  }
}

@media (min-width: 1200px) {
}
